.all-content {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    background: #f3f4f8;
}

.book-content {
    margin:0 auto;
    text-align: center;
    border:1px solid #2f2e2e;
    width: 80%;
}

.book-content .title {
    text-align: center;
    font-weight: bolder;
    color: #303230;
    font-size: 40px;
    border-bottom:1px dashed #2f2e2e;
    padding-top: 20px;
    padding-bottom: 20px;
}

.book-content .text {
    margin:0 auto;
    text-align: left;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    color: #2f2e2e;
}
















