<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>content</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/homestyle.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type ="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>

    <div id="content" th:fragment="content">

        <div class="case-container">
            <div class="case-index-content">
                <ul class="clearfix">
                    <span th:text="${content}"></span>
                </ul>
            </div>

    </div>
    <div class="btn-Pre-or-Next">
        <!-- !!! 上一页下一页按钮 bookRefresh函数可在 static/js/common.js 中找到 -->
        <nobr>
            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-6 col-md-offset-4 col-lg-offset-4 col-xl-offset-4">
                        <ul class="pagination justify-content-around">
                            <li>
                                <button th:disabled="!${hasPre}" id="book_refresh_pre" th:onclick="contentRefresh([[${pageNum-1}]],[[${bookId}]]);" type="button" class="btn btn-success">
                                    上一页</button>
                            </li>
                            <li th:each="page,pageStat:${totalPages}">
                                <button th:onclick="contentRefresh([[${page.value}]],[[${bookId}]])" class="btn btn-small btn-outline-success">[[${page.value}]]</button>
                            </li>
                            <li>
                                <button th:disabled="!${hasNext}" id="book_refresh_next" th:onclick="contentRefresh([[${pageNum+1}]],[[${bookId}]]);" type="button" class="btn btn-success" >
                                    下一页</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nobr>
    </div>
</body>
</html>